

<div class="d-flex flex-column">
  <div class="d-flex flex-column col-10 col-sm-8 col-md-6 col-lg-3 align-self-center">
    <%= image_tag asset_path("logo.png"), width: "100%", height: "auto" %>
    <button class="btn m-2 btn-spy" type="button">
      create game
    </button>
    <button class="btn m-2 btn-spy" type="button">
      join game
    </button>
  </div>
</div>